 
 <?php 
 
 eliminarListado();
 
 ?>
 <script src="view/assets/js/precio.js"></script>
 
 <!-- Content body -->
 <div class="content-body">
    <!-- Content -->
    <div class="content ">
<div class="row">

    <div class="col-md-12">

        <h1 class="titulos text-center">¡ENCONTRÁ EL MEJOR PRECIO!</h1>
        <p class="text-center">Buscá los productos que querés, agregalos a tu listado de compras, 
            y descubrí dónde comprarlos cerca tuyo y al mejor precio
        </p>
        <hr class="hr-per">

    </div>
    
    

    <div class="col-md-6">
        <div class="card">

            <div class="card-header">
                <h5 class="card-title texto-gris text-center m-2">MI LISTADO DE PRODUCTOS</h5>
            </div>

            <div class="card-body">
                
                <div class="list-group" id ='miListado'>
                    <div class='list-group-item list-group-item-danger mb-1 text-center col-md-12' id= "noProductos" style="display: block;">NO SE HAN AGREGADO PRODUCTOS AL LISTADO</div>
                    
                </div>
                <button class="btn btn-success btn-block" onclick="comparador()" style="display: none;" id='comparador'>¡Compará los precios!</button>
            </div>
    
        </div>

        <div id='mejoresPrecios'>

        </div>
    
    </div>

    

    <div class="col-md-6">

    <div>
        <h2 class="text-center texto-blanco">BUSCÁ TUS PRODUCTOS</h2>
    <form>
        <div class="input-group input-group-lg mb-3" >
            <input type="text" class="form-control"
                   aria-label="Example text with button addon"
                   placeholder="Producto..." autofocus
                   aria-describedby="button-addon1" onkeyup="buscar()" id="termino" >
            <div class="input-group-append">
                <button class="btn btn-success" type="button"
                        id="button-addon1" onClick="buscar()">
                    <i class="ti-search"></i>
                </button>
            </div>
        </div>
    </form>
    </div>

    <div id = 'productos'>
    
    </div>


    </div>




</div>

    </div>
    <!-- ./ Content -->

    <!-- Footer -->
    <footer class="content-footer">

        <div class="text-center texto-blanco">
            © 2020 - <a href="https://dondecompro.ar/quienes-somos" id="a-per" target="_blank">DóndeCompro? </a>
        </div>
        <div class="text-center texto-blanco"> Todos los derechos reservados </div>
    </footer>
    <!-- ./ Footer -->
</div>
<!-- ./ Content body -->