 <script src="view/assets/js/precio.js"></script>
 
 <!-- Content body -->
 <div class="content-body">
    <!-- Content -->
    <div class="content ">
            <div class="row">
<div class="col-md-12">

    <div class="row">
        <div class="col-md-12">

            <div class="py-5">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <h2 class="mb-4 text-center titulos">¡BUSCA EL MEJOR PRECIO!</h2>
                            <p class="text-center"> Busca productos y descubre qué negocio tiene
                                el mejor precio.
                            </p>
                            <figure class="text-center">
                                <img src="view/assets/media/image/ositos/buscar.png">
                            </figure>
                            <form>
                                <div class="input-group input-group-lg mb-3" >
                                    <input type="text" class="form-control"
                                           aria-label="Example text with button addon"
                                           placeholder="Producto..." autofocus
                                           aria-describedby="button-addon1" onkeyup="buscar()" id="termino" >
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button"
                                                id="button-addon1" onClick="buscar()">
                                            <i class="ti-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <div class="card-scroll">

                    <h5 class="titulos text-center">RESULTADOS DE LA BUSQUEDA: </h5>
                    <hr class='hr-per'>

                            <div class="table-responsive">
                            <table id='productos'>
                                
                            </table>
                            </div>
                </div>
            </div>
            </div>

            
        </div>
    </div>

</div>
</div>

    </div>
    <!-- ./ Content -->

    <!-- Footer -->
    <footer class="content-footer">

        <div class="text-footer text-center">
            © 2020 - <a href="http://dondecomproargentina.com.ar" id="a-per" target="_blank">DondeCompro </a>
        </div>
        <div class="text-footer text-center"> Todos los derechos reservados </div>
        <div class="text-footer text-center">
            Diseñado por  <a href="https://zerpens.com/" id="a-per">Zerpens</a>
        </div>
</footer>
<!-- ./ Footer -->
</div>
<!-- ./ Content body -->