<?php 
 
 eliminarListado();
 
 ?>

<script src="view/assets/js/inicio-usuario.js"></script>
<!-- Content body -->
<div class="content-body">
    <!-- Content -->
    <div class="content ">

<div class="row" id="negocios">
    <div class="col-md-12">
        <h1 class="titulos text-center m-3">¡BIENVENIDO!</h1>
    </div>
    


</div>

    </div>
    <!-- ./ Content -->

    <!-- Footer -->
    <footer class="content-footer">

        <div class="text-center texto-blanco">
            © 2020 - <a href="https://dondecompro.ar/quienes-somos" id="a-per" target="_blank">DóndeCompro? </a>
        </div>
        <div class="text-center texto-blanco"> Todos los derechos reservados </div>
    </footer>
    <!-- ./ Footer -->
</div>
<!-- ./ Content body -->