<div class="navigation">
    <div class="navigation-header">
        <span>Menu de navegación</span>
        <a href="#">
            <i class="ti-close"></i>
        </a>
    </div>
    <div class="navigation-menu-body">
        <ul>
            <li>
                <a <?php active_0() ?>href=<?php echo "index.php?page=0" ?>>
            <span class="nav-link-icon">
                <i data-feather="home"></i>
            </span>
                    <span>Inicio</span>
                </a>
            </li> 
            <li>
                <a <?php active_1() ?> href="index.php?page=1" ?>
            <span class="nav-link-icon">
                <i data-feather="shopping-cart"></i>
            </span>
                    <span>Comparador de precios</span>
                </a>
            </li>

            <li>
                <a <?php active_2() ?> href=<?php echo "index.php?page=2" ?>>
            <span class="nav-link-icon">
                <i data-feather="settings"></i>
            </span>
                    <span>Administrar Cuenta</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>