<!-- Content body -->
<div class="content-body">
    <!-- Content -->
    <div class="content ">

        <h1 class="text-center texto-verde">¡ANUCIÁ TUS PRODUCTOS Y PROMOCIONES!</h1>
        <hr class="hr-per-2">
<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center">!CONSIGUE UNA SUBSCRIPCIÓN!</h6>
                <p class="text-center">Con una subscripción a nuestro sistema de publicidad podrás llegar al ojo de muchos usuarios cerca de tu ubicación,
                    podrás anunciar tus productos y promociones, no pierdas esta oportunidad.
                </p>
            </div>
        </div>
    
    </div>
    


    <div class="col-md-6">

    <div class="card">
        <div class="card-body">
            <h6 class="card-title text-center">SUBSCRIPCIÓN POR UN MES.</h6>
            
            <p class="text-center">Accede a los beneficios de la subscripción durante un mes.</p>
            <h4 class="text-center">Costo: <strong class="texto-verde">$ 999 ARS</strong></h4>
            <hr>
            <a class="btn btn-success btn-block">PAGAR</a>
        </div>
    </div>

    </div>

    <div class="col-md-6">

    <div class="card">
        <div class="card-body">
            <h6 class="card-title text-center">SUBSCRIPCION POR 3 MESES.</h6>
            <p class="text-center">Accede a los beneficios de la subscripción durante 3 meses.</p>
            <h4 class="text-center">Costo: <strong class="texto-verde">$ 1.999 ARS</strong></h4>
            <p class="texto-gris text-center">¡TE AHORRAS $ 1.000 ARS!</p>
            <hr>
            <a class="btn btn-success btn-block">PAGAR</a>
        </div>
    </div>

    

    </div>



</div>

    </div>
    <!-- ./ Content -->

    <!-- Footer -->
    <footer class="content-footer">

        <div class="text-footer text-center">
            © 2020 - <a href="http://dondecomproargentina.com.ar" id="a-per" target="_blank">DondeCompro </a>
        </div>
        <div class="text-footer text-center"> Todos los derechos reservados </div>
        <div class="text-footer text-center">
            Diseñado por  <a href="https://zerpens.com/" id="a-per">Zerpens</a>
        </div>
</footer>
<!-- ./ Footer -->
</div>
<!-- ./ Content body -->