<div class="navigation">
    <div class="navigation-header">
        <span>Menu de navegación</span>
        <a href="#">
            <i class="ti-close"></i>
        </a>
    </div>
    <div class="navigation-menu-body">
        <ul>
            <li>
                <a <?php active_0() ?>href=<?php echo "index.php?page=0" ?>>

                <span class="nav-link-icon">
                    <i data-feather="home" class="texto-navegacion"></i>
                </span>
                    <span class="texto-navegacion">Inicio</span>
                </a>
            </li> 

            <li>
                <a <?php active_1() ?> href="index.php?page=1" ?>
            <span class="nav-link-icon">
                <i data-feather="layers" class="texto-navegacion"></i>
            </span>
                    <span class="texto-navegacion">Productos</span>
                </a>
            </li>

            <li>
                <a <?php active_3() ?> href="index.php?page=3" ?>
            <span class="nav-link-icon">
                <i data-feather="plus" class="texto-navegacion"></i>
            </span>
                    <span class="texto-navegacion">Añadir producto</span>
                </a>
            </li>

            <li>
                <a <?php active_2() ?> href=<?php echo "index.php?page=2" ?>>
            <span class="nav-link-icon">
                <i data-feather="settings" class="texto-navegacion"></i>
            </span>
                    <span class="texto-navegacion">Administrar cuenta</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>