<!-- Content body -->
<div class="content-body">
    <!-- Content -->
    <div class="content ">

<div class="row">
<div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <h6 class="card-title">PÁGINA DE INICIO DE LA CUENTA DE NEGOCIO ACTIVA</h6>
            <p>Información relevante acerca de productos, negocios, usuarios, etc...</p>
        </div>
    </div>

</div>
</div>

    </div>
    <!-- ./ Content -->

    <!-- Footer -->
    <footer class="content-footer">
        <div>© 2020 DondeCompro - <a href="http://laborasyon.com" target="_blank">DondeCompro Landing Page</a></div>
        <div>
            <nav class="nav">
                <a href="https://themeforest.net/licenses/standard" class="nav-link">Licencia</a>
                <a href="#" class="nav-link">Politica de privacidad</a>
                <a href="#" class="nav-link">Contacto</a>
            </nav>
        </div>
    </footer>
    <!-- ./ Footer -->
</div>
<!-- ./ Content body -->