<script src="view/assets/js/cuenta-negocio.js"></script>
<div class="content-body">
    <!-- Content -->
    <div class="content ">
        
<div class="page-header">
<div>
    <h3 class="titulos text-center">AÑADIR PRODUCTO AL CATALOGO</h3>
</div>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="card">


            <div class="card-body d-flex flex-column align-items-center">

                <div class="col-md-6">

                    <form>

                        <div class="form-group">

                            <label>NOMBRE</label>
                            <input type="text" class="form-control">

                        </div>

                        <div class="form-group">

                            <label>CÓDIGO</label>
                            <input type="text" class="form-control">


                        </div>

                        <div class="form-group">
                            <label>CATEGORIA</label>
                            <select name="categoria" id="categoria" class="form-control">

                                <option value="Almacén">Almacén</option>
                                <option value="Bebes y niños">Bebes y niños</option>
                                <option value="Bebidas">Bebidas</option>
                                <option value="Carnes">Carnes</option>
                                <option value="Electricidad">Electricidad</option>
                                <option value="Ferretería">Ferretería</option>
                                <option value="Herramientas eléctricas">Herramientas eléctricas</option>
                                <option value="Herramientas manuales">Herramientas manuales</option>
                                <option value="Plomería">Plomería</option>
                                <option value="Congelados">Congelados</option>
                                <option value="Frutas y verduras">Frutas y verduras</option>
                                <option value="Lácteo">Lácteos</option>
                                <option value="Librería">Librería</option>
                                <option value="Limpieza">Limpieza</option>
                                <option value="Mascotas">Mascotas</option>
                                <option value="Perfumería">Perfumería</option>



                            </select>

                        </div>

                        <button class="btn btn-success btn-block"> AÑADIR </button>

                        


                    </form>




                </div>


            </div>


        </div>

    </div>
    

</div>

    </div>
    <!-- Footer -->
    <footer class="content-footer">

        <div class="text-center texto-blanco">
            © 2020 - <a href="https://dondecompro.ar/quienes-somos" id="a-per" target="_blank">DóndeCompro? </a>
        </div>
        <div class="text-center texto-blanco"> Todos los derechos reservados </div>
    </footer>
    <!-- ./ Footer -->
</div>