<script src="view/assets/js/validar.js"> </script>
<!-- Content body -->
<div class="content-body m-0">
    <!-- Content -->
    <div class="content ">

<div class="row d-flex flex-column align-items-center">

    <h1 class="texto-blanco text-center m-2">App</h1>
    <h1 class="texto-blanco text-center m-2">DóndeCompro?</h1>
    

    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                
                <figure class="text-center m-4">

                    <img src="view/assets/media/image/logo-2.png" alt="logo" width="150">

                </figure>

                <h3 class="texto-verde text-center m-2">INICIÁ SESIÓN</h3>
            
            </div>

            <div class="card-body">

                <form action="controller/procesar_login.php" onsubmit="return validarLogin();" method="POST">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <p id="texlogin" class="texto-rojo-peque"></p>
                        <input type="text" name="nombre_u" onchange = "validarNombre()" class="form-control" id="nomail" placeholder="Usuario o email" required autofocus>
                    </div>
                    <div class="form-group d-block justify-content-around">
                        <input type="password" name = "clave_u" class="form-control"  placeholder="Contraseña" required>
                    </div>
                    <div class="form-group d-flex flex-column align-items-center">
                        <div class="custom-control custom-checkbox custom-checkbox-info">
                            <input type="checkbox" name = "recordar" class="custom-control-input" id="customCheck5" checked>
                            <label class="custom-control-label texto-verde text-center" for="customCheck5">Recordar</label>
                        </div>
                        
                    </div>

                    <div class="form-group d-flex flex-column align-items-center">

                        <button class="btn btn-success btn-block">INGRESAR</button>
                        <hr>
                        <a class ="texto-verde" id="a-per2" href="view/recuperar-clave.php">¿Olvidaste tu contraseña?</a>
                        <hr>


                    </div>
                        
                    <div class="form-grou d-flex justify-content-around">
                        <p class="texto-verde">¿No tenés una cuenta?</p>
                    </div>
                    <div class="form-group d-flex justify-content-lg-around">
                        <a href="view/registrar-usuario.php"  id="a-per-2" class="btn btn-success btn-block">¡REGISTRATE!</a>
                    </div>
                </form>

            </div>

        </div>

    </div>
    

</div>

    </div>
    <!-- ./ Content -->

    <!-- Footer -->
    <footer class="content-footer">

        <div class="text-center texto-blanco">
            © 2020 - <a href="https://dondecompro.ar/quienes-somos" id="a-per" target="_blank">DondeCompro </a>
        </div>
        <div class="text-center texto-blanco"> Todos los derechos reservados </div>
    </footer>
    <!-- ./ Footer -->

</div>
<!-- ./ Content body -->